body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9ad49a;
  color: rgb(213, 64, 64);
  font-family: Arial;
  overflow: hidden;
}

.deft{
   position: relative;
  height: 277px;
  left: 100px;
  bottom: 200px;
}

/* 🎨 DECORAÇÕES */
.decorações {
  position: absolute;
  top: 20px;
  left: 20px;
}

.edit {
  height: 150px;
}

/* 🕷️ LADO DIREITO */
.radio {
  position: absolute;
  right: 20px;
  top: 120px;
}

.radio img {
  width: 180px;
}

/* 🎧 PLAYER */
.player {
  background: #026afd;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  width: 320px;
  position: relative;
  left: 430px;
}

/* 🔽 SELECT */
select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  border: none;
  outline: none;
}

/* 🎵 AUDIO */
audio {
  width: 100%;
  margin-top: 10px;
}

/* 📊 STATUS */
#status {
  margin-top: 10px;
  font-size: 14px;
  color: #000;
}

/* 🎶 TEXTO */
.TOCADÃO {
  color: white;
  font-weight: bold;
  margin: 5px 0;
}
.meme {
  animation: float 3s infinite ease-in-out;
}




/* cantos */
.tere {
  top: 200px;
  left: 500px;
  position: relative;
  height: 270px;
}

.right {
  top: 200px;
  right: 810px;
    position: relative;
    height: 170px;

}

.left{
  position: relative;
  height: 200px;

  bottom: 290px;
}
.fad{
position: relative;
right: 1100px;
height: 250px;
bottom: 230px;
}